<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- charecter encoding = utf 8 -->
    <meta charset="UTF-8" />
    <!-- The viewport META tag allows device width to map to the width CSS property, which essentially means that device pixels correctly map to CSS pixels, allowing elements and fonts to correctly scale on mobile devices. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Magic Mart admin</title>

    <!-- th:href = "@{}" uses relative path -->
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <script
      type="text/javascript"
      th:src="@{/webjars/jquery/jquery.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
    ></script>
  </head>
  <body>
    <div class="container-fluid">
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" th:href="@{/}">Magic Mart</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/categories}">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/brands}">Brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/shipping}">Shipping</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/orders}">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/report}">Sales Report</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div><h1>Welcome to Magic mart admin application test</h1></div>
      <div><p>Magic Mart Copyright -&copy;</p></div>
    </div>
  </body>
</html>
